.app-container {
  display: flex;
  height: 100vh;
}

// Navbar width and border
app-navigation-bar {
  position: sticky;
  width: 300px;
  border-right: 1px solid #cccccc;
}

// Rendered content area
.page-content {
  flex: 1;
  overflow-y: auto;
  background: #fcfcfc;
}
