.hiring-page-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fcfcfc;

  .page-header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 12px;
  }

  .modal-trigger-section {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;

    .card-section {
      flex: 1;
      padding: 24px;
      border-radius: 12px;
      background-color: #fcfcfc;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

      .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-text {
          display: flex;
          flex-direction: column;

          h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
          }

          p {
            margin: 4px 0 0;
            color: #666;
            font-size: 14px;
          }
        }

        .open-dialog-button {
          white-space: nowrap;
          padding: 12px 24px;
        }
      }
    }
  }

  .tab-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;

    .generate-token-card {
      padding: 24px;
      border-radius: 12px;
      background-color: #fcfcfc;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

      .generate-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .header-text {
          h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 600;
          }

          p {
            margin: 4px 0 0;
            color: #666;
            font-size: 14px;
          }
        }

        .open-dialog-button {
          min-width: 250px;
          padding: 12px 24px;
        }
      }
    }

    .token-history-card {
      padding: 16px;
    }
  }

  .header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      h2 {
        margin: 0;
      }
    }
  }
}
